html{
    background-image: url(https://img.freepik.com/free-photo/black-prism-concept-ai-generated_268835-7011.jpg?size=626&ext=jpg&ga=GA1.1.1488620777.1712361600&semt=ais);
    
}
nav{
    grid-area: nav;
    border: solid rgb(68, 68, 68);
    background-color: rgb(68, 68, 68);
    display: flex;
    align-items: center;
    justify-content: space-between; 
    color: rgb(255, 255, 255);   
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.name{
    margin-left: 10px;
}
body{
    text-align: center;
    margin: 0;
}
main{
    align-items: center;
    color: silver;
}
footer{
    border: solid rgb(68, 68, 68);
    background-color: rgb(68, 68, 68);
    align-items: center;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-decoration: none;
}
p{
    display: inline;
}
.Home:hover{
    background-color: gray;
}
.Home{
    text-decoration: dashed;
    color: rgb(255, 255, 255);
    border: solid;
    padding: 2px;
}
.About:hover{
    background-color: gray;
}
.About{
    text-decoration: dashed;
    color: rgb(255, 255, 255);
    border: solid;
    padding: 2px;

}
.Portfolio:hover{
    background-color: gray;
}
.Portfolio{
    text-decoration: dashed;
    color: rgb(255, 255, 255);
    border: solid;
    padding: 2px;
}
.Contact:hover{
    background-color: gray;
}
.Contact{
    text-decoration: dashed;
    color: rgb(255, 255, 255);
    border: solid;
    padding: 2px;
    margin-right: 8px;
}
h2{
    grid-area: h2;
    text-align: center;
    font-size: 40px;
}
.home{
    display: grid;
    grid-template-rows: 10% 10% 80% 1fr;
    grid-template-columns: 50% 1fr;
    grid-template-areas: 
        "nav nav"
        "h2 h2"
        "hook me"
        "quote quote";
}
#home-body{
    text-align: center;
    display: flow-root;
    width: 85%;
    margin-left: 9%;
    margin-bottom: 2%;
}
.hook{
    grid-area: hook;
    display:inline;
    font-size: 35px;
}
.me {
    grid-area: me;
    height: 100%;
    width: 75%;
    margin-left: 15%;
}
.quote{
    grid-area: quote;
    text-align: center;
    font-style: italic;
    text-transform: capitalize;
    font-size: 35px;
}
hr{
    border: solid silver 2px;
}
.about{
    display: grid;
    grid-template-rows: 3.5% 3% 25% 25% 25%;
    grid-template-columns: 50% 1fr;
    grid-template-areas: 
        "nav nav"
        "h2 h2"
        "Luna LunaP"
        "travelP travel"
        "Games PZ";
}
#Luna{
    grid-area: Luna;
    font-size: 40px;
}
.luna{
    grid-area: LunaP;
    height: 100%;
    width: 100%;
}
#travel{
    grid-area: travel;
    font-size: 35px;
}
.travel{
    grid-area: travelP;
    height: 75%;
    width: 100%;
}
#Games{
    grid-area: Games;
    font-size: 35px;
}
.PZ{
    grid-area: PZ;
    width: 90%;
    height: 80%;
    margin-left: 6%;
}

.portfolio1{
    display: grid;
    grid-template-rows: 20% 15% 50% 50% 50%;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "nav"
        "h2"
        "Project1"
        "Project2"
        "Project3";
}
.Project1{
    grid-area: Project1;
    text-align: center;
    font-size: 30px;
}
.Project2{
    grid-area: Project2;
    text-align: center;
    font-size: 30px;
}
.Project3{
    grid-area: Project3;
    text-align: center;
    font-size: 30px;
}
.contact{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 20% 1fr;
    grid-template-areas: 
        "nav nav"
        "h2 h2"
        "form form";
}
form{
    grid-area: form;
    margin-top: 3%;
}
.linkedin{
   width: 45px;
}
.github{
    width: 45px;
    margin-left: 10px;
}

.sent{
    display: block;
    font-size: 75px;
    margin-top: 25%;
}
#submit{
    background-color: silver;
}
@media only screen and (min-width: 300px) {
    .home{
        display: grid;
        grid-template-rows: 15% 10% 75% 1fr;
        grid-template-columns: 60% 1fr;
        grid-template-areas: 
            "nav nav"
            "h2 h2"
            "hook me"
            "quote quote";
    }
    .me{
        height: 75%;
        width: 100%;
        margin-left: 0;
    }
    .about{
        display: grid;
        grid-template-rows: 6% 3% 35% 35% 35%;
        grid-template-columns: 50% 1fr;
        grid-template-areas: 
            "nav nav"
            "h2 h2"
            "Luna LunaP"
            "travelP travel"
            "Games PZ";
    }
    .luna{
        height: 90%;
        width: 100%;
    }
    .travel{
        height: 50%;
        width: 100%;
    }
    .portfolio1{
        display: grid;
        grid-template-rows: 13% 10% 35% 35% 35%;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "nav"
            "h2"
            "Project1"
            "Project2"
            "Project3";
    }
    .contact{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 35% 25% 1fr;
        grid-template-areas: 
            "nav nav"
            "h2 h2"
            "form form";
    }
}
@media only screen and (min-width: 768px){
    .home{
        display: grid;
        grid-template-rows: 15% 15% 80% 1fr;
        grid-template-columns: 60% 1fr;
        grid-template-areas: 
            "nav nav"
            "h2 h2"
            "hook me"
            "quote quote";
    }
    .me{
        height: 100%;
        width: 100%;
        margin-left: 8%;
    }
    .about{
        display: grid;
        grid-template-rows: 5% 5% 25% 25% 25%;
        grid-template-columns: 50% 1fr;
        grid-template-areas: 
            "nav nav"
            "h2 h2"
            "Luna LunaP"
            "travelP travel"
            "Games PZ";
    }
    .luna{
        height: 100%;
        width: 100%;
    }
    .portfolio1{
        display: grid;
        grid-template-rows: 15% 17% 50% 50% 50%;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "nav"
            "h2"
            "Project1"
            "Project2"
            "Project3";
    }
    .contact{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 20% 1fr;
        grid-template-areas: 
            "nav nav"
            "h2 h2"
            "form form";
    }
}
@media only screen and (min-width: 992px){
    .home{
        display: grid;
        grid-template-rows: 7% 10% 65% 1fr;
        grid-template-columns: 50% 1fr;
        grid-template-areas: 
            "nav nav"
            "h2 h2"
            "hook me"
            "quote quote";
    }
    .me{
        height: 100%;
        width: 75%;
        margin-left: 12%;
    }
    .about{
        display: grid;
        grid-template-rows: 2.5% 3% 25% 25% 25%;
        grid-template-columns: 50% 1fr;
        grid-template-areas: 
            "nav nav"
            "h2 h2"
            "Luna LunaP"
            "travelP travel"
            "Games PZ";
    }
    .travel{
        height: 75%;
        width: 100%;
    }
    .PZ{
        height: 90%;
    }
    .portfolio1{
        display: grid;
        grid-template-rows: 8% 15% 40% 40% 40%;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "nav"
            "h2"
            "Project1"
            "Project2"
            "Project3";
    }
    .contact{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 55% 20% 1fr;
        grid-template-areas: 
            "nav nav"
            "h2 h2"
            "form form";
    }
}