html{
    background-image: url(https://img.freepik.com/free-photo/black-prism-concept-ai-generated_268835-7011.jpg?size=626&ext=jpg&ga=GA1.1.1488620777.1712361600&semt=ais);
    
}
nav{
    grid-area: nav;
    border: solid rgb(68, 68, 68);
    background-color: rgb(68, 68, 68);
    display: flex;
    align-items: center;
    justify-content: space-between; 
    color: rgb(255, 255, 255);   
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.name{
    margin-left: 10px;
}
body{
    text-align: center;
    margin: 0;
}
main{
    align-items: center;
    color: silver;
}
footer{
    border: solid rgb(68, 68, 68);
    background-color: rgb(68, 68, 68);
    align-items: center;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-decoration: none;
}
p{
    display: inline;
}
.Home:hover{
    background-color: gray;
}
.Home{
    text-decoration: dashed;
    color: rgb(255, 255, 255);
    border: solid;
    padding: 2px;
}
.About:hover{
    background-color: gray;
}
.About{
    text-decoration: dashed;
    color: rgb(255, 255, 255);
    border: solid;
    padding: 2px;

}
.Portfolio:hover{
    background-color: gray;
}
.Portfolio{
    text-decoration: dashed;
    color: rgb(255, 255, 255);
    border: solid;
    padding: 2px;
}
.Contact:hover{
    background-color: gray;
}
.Contact{
    text-decoration: dashed;
    color: rgb(255, 255, 255);
    border: solid;
    padding: 2px;
    margin-right: 8px;
}
h2{
    grid-area: h2;
    text-align: center;
}
.home{
    display: grid;
    grid-template-rows: 10% 10% 80% 1fr;
    grid-template-columns: 50% 1fr;
    grid-template-areas: 
        "nav nav"
        "h2 h2"
        "hook me"
        "quote quote";
}
#home-body{
    text-align: center;
    display: flow-root;
    width: 85%;
    margin-left: 9%;
    margin-bottom: 2%;
}
.hook{
    grid-area: hook;
    display:inline;

}
.me {
    grid-area: me;
    height: 100%;
    width: 75%;
    margin-left: 15%;
}
.quote{
    grid-area: quote;
    text-align: center;
    font-style: italic;
    text-transform: capitalize;
    font-size: large;
}
hr{
    border: solid silver 2px;
}
.about{
    display: grid;
    grid-template-rows: 3.5% 3% 25% 25% 25%;
    grid-template-columns: 50% 1fr;
    grid-template-areas: 
        "nav nav"
        "h2 h2"
        "Luna LunaP"
        "travelP travel"
        "Games PZ";
}
#Luna{
    grid-area: Luna;
}
.luna{
    grid-area: LunaP;
    height: 100%;
    width: 100%;
}
#travel{
    grid-area: travel;
}
.travel{
    grid-area: travelP;
    height: 75%;
    width: 100%;
}
#Games{
    grid-area: Games;
}
.PZ{
    grid-area: PZ;
    width: 90%;
    height: 80%;
    margin-left: 6%;
}

.portfolio1{
    display: grid;
    grid-template-rows: 20% 15% 50% 50% 50%;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "nav"
        "h2"
        "Project1"
        "Project2"
        "Project3";
}
.Project1{
    grid-area: Project1;
    text-align: center;
}
.Project2{
    grid-area: Project2;
    text-align: center;
}
.Project3{
    grid-area: Project3;
    text-align: center;
}

.linkedin{
   width: 45px;
}
.github{
    width: 45px;
    margin-left: 5px;
}
.message{
    width: 600px;
    height: 200px;
    text-align: center;
}
#submit{
    background-color: silver;
}
@media only screen and (min-width: 300px) {
    body{
        
    }
}
@media only screen and (min-width: 768px){
    body{

    }
}
@media only screen and (min-width: 992px){
    body{

    }
}