html{
    background-image: url(https://img.freepik.com/free-photo/black-prism-concept-ai-generated_268835-7011.jpg?size=626&ext=jpg&ga=GA1.1.1488620777.1712361600&semt=ais);
    
}
nav{
    border: solid rgb(68, 68, 68);
    background-color: rgb(68, 68, 68);
    display: flex;
    align-items: center;
    justify-content: space-between; 
    color: rgb(255, 255, 255);   
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.name{
    margin-left: 10px;
}
body{
    text-align: center;
    margin: 0;
    margin-top: 10%;
}
main{
    margin: 30px;
    align-content: center;
    color: silver;
}
footer{
    border: solid rgb(68, 68, 68);
    background-color: rgb(68, 68, 68);
    align-items: center;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-decoration: none;
}
p{
    display: inline;
}
.Home:hover{
    background-color: gray;
}
.Home{
    text-decoration: dashed;
    color: rgb(255, 255, 255);
    border: solid;
    padding: 2px;
}
.About:hover{
    background-color: gray;
}
.About{
    text-decoration: dashed;
    color: rgb(255, 255, 255);
    border: solid;
    padding: 2px;

}
.Portfolio:hover{
    background-color: gray;
}
.Portfolio{
    text-decoration: dashed;
    color: rgb(255, 255, 255);
    border: solid;
    padding: 2px;
}
.Contact:hover{
    background-color: gray;
}
.Contact{
    text-decoration: dashed;
    color: rgb(255, 255, 255);
    border: solid;
    padding: 2px;
    margin-right: 8px;
}
h2{
    text-align: center;
}
#home-body{
    text-align: center;
    display: flow-root;
    width: 85%;
    margin-left: 9%;
    margin-bottom: 2%;
}
.hook{
    display:inline;
}
.me {
    height: 700px;
    float: right;
    padding: 10px;
}
.quote{
    text-align: center;
    font-style: italic;
    text-transform: capitalize;
    font-size: large;
    margin-top: 130px;
}
hr{
    border: solid silver 2px;
}
.about{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25%;
    grid-template-areas: 
        "Luna"
        "travel"
        "Games";
    align-content: center;
    margin-top: 35%;
}

#Luna{
    text-align: center;
    display: flow-root;
    width: 600px;
    margin-left: 33%;
    font-size: large;
}
.luna{
    height: 500px;
    width: 300px;
    float: right;
    margin: 5px;
}
#travel{
    text-align: center;
    text-align: center;
    display: flow-root;
    width: 85%;
    margin-left: 9%;
}
.travel{
    width: 600px;
    float: left;
    margin: 5px;
}
#Games{
    text-align: center;
    text-align: center;
    display: flow-root;
    width: 85%;
    margin-left: 9%;
    margin-bottom: 2%;
}
.PZ{
    height: 500px;
    float: right;
    margin: 5px;
}
.projects{
    text-align: center;
}
.Project1{
    text-align: center;
    padding: 5px;
}
.Project2{
    text-align: center;
    padding: 5px;

}
.Project3{
    text-align: center;
    padding: 5px;
    margin-bottom: 15px;
}

.linkedin{
   width: 45px;
}